<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form method="post" action="/new">
<label for="user">User</label>
<input type="text" id="user" name="user" class="form-control" placeholder="Enter your name">
<label for="message">Message</label>
<textarea id="message" name="message" class="form-control" placeholder="Enter your message"></textarea>
<button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>
<div class="container mt-4 p-4 border">
<ul>
    {{#each messages}}
        <li > 
            <p>{{this.added}}</p>
            <p class="random-color font-weight-bold">{{this.user}}</p>
            <p>{{this.message}}</p>
        </li>
    {{/each}}
</ul>
</div>
